<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity
            android:name="com.termux.app.DrawerComposeTestHostActivity"
            android:exported="false" />
        <!-- Keep Compose's generic screenshot host aligned with the real app theme. -->
        <activity
            android:name="androidx.activity.ComponentActivity"
            android:exported="true"
            android:theme="@style/Theme.Termux"
            tools:replace="android:theme" />
    </application>
</manifest>
